<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.dajiahui.kid">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".DjhStudentApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.login.FirstActivity"
            android:label="@string/app_name"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.TestAuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.login.WelComnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".ui.mine.setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.mine.HelpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.mp3.AudioActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.album.PhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.album.PhotoPageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.album.PhotoDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.album.AlbumActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.login.RegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.login.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.fxtx.framework.image.SelectPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.fxtx.framework.image.PreviewPicActivity"
            android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 我的班級 -->
        <activity
            android:name=".ui.mine.myclass.MyClassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 班级详情 -->
        <activity
            android:name=".ui.mine.myclass.ClassDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 班级信息 -->
        <activity
            android:name=".ui.mine.myclass.ClassInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 班级空间 -->
        <activity
            android:name=".ui.mine.myclass.ClassSpaceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 我的作品 -->
        <activity
            android:name=".ui.mine.myworks.MyWorksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 个人信息 -->
        <activity
            android:name=".ui.mine.personalinformation.UserDetailsActivity"
            android:screenOrientation="portrait"/>
        <!-- 修改信息接口 -->
        <activity
            android:name=".ui.mine.personalinformation.UserSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 摩尔通知 -->
        <activity android:name=".ui.mine.notice.NoticeActivity"/>
        <activity
            android:name=".ui.chat.ConcactForClassActivity"
            android:screenOrientation="portrait"/>
        <!-- 关于摩尔start -->
        <activity
            android:name="com.fxtx.framework.ui.base.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.mine.about.AboutActivity"
            android:screenOrientation="portrait"/>
        <!-- 关于摩尔end -->
        <!-- 设置密码 -->
        <activity android:name=".ui.mine.setting.SetPassActivity"/>
        <!-- 设置账户 -->
        <activity android:name=".ui.mine.setting.SetPhoneActivity"/>
        <!-- 作业详情 -->
        <activity android:name=".ui.homework.homeworkdetails.HomeWorkResultActivity">
        </activity>
        <!-- 检查作业 -->
        <activity android:name=".ui.homework.homeworkdetails.DoHomeworkActivity">
        </activity>
        <!-- 答题卡 -->
        <activity android:name=".ui.homework.homeworkdetails.AnswerCardActivity">
        </activity>
        <!-- 教材选择 -->
        <activity android:name=".ui.study.ChoiceTeachingMaterialActivity"/>
        <!-- 选择教材详情 -->
        <activity android:name=".ui.study.ChoiceTeachingMaterialInfoActivity">
        </activity>
        <!-- 6大题型的学习首页 -->
        <activity android:name=".ui.study.StudyDetailsActivity">
        </activity>
        <!-- 点读本 -->
        <activity android:name=".ui.study.kinds.readingbook.ReadingBookActivity"/>
        <!-- 随身听 -->
        <activity android:name=".ui.study.kinds.personalstereo.PersonalStereoActivity"/>
        <!-- 卡片练习 -->
        <activity android:name=".ui.study.kinds.cardpractice.CardPracticeActivity"/>
        <!-- 做作业初级界面 -->
        <activity android:name=".ui.homework.homeworkdetails.HomeWorkDetailsActivity"/>
        <!--练习-->
        <activity android:name="cn.dajiahui.kid.ui.study.kinds.practice.DoPraticeActivity"/>

        <!--加入班级-->
        <activity
            android:name=".ui.mine.myclass.AddClassActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.mine.about.AllFounctionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.mine.AllFounctionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!-- 环信 -->
        <activity
            android:name=".ui.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.login.RemoveLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.chat.ImageGridActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.chat.RecorderVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.chat.VideoCallActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.chat.VoiceCallActivity"
            android:screenOrientation="portrait"/>

        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"/>
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.mine.myworks.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.video.FullscreenVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitle"/>
        <!-- Umeng -->
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- qq空间分享 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105261723"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 开机自启动服务 -->
        <receiver android:name=".ui.chat.util.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <!-- jpush -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"/>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </activity>

        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${applicationId}.DataProvider"
            android:exported="true"/>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!-- Required  显示通知栏 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".util.StudentReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistDataTestdata with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="@string/api_jpush"/>
        <!-- </>值来自开发者平台取得的AppKey -->

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="@string/api_huanxin"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"/>
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/api_umeng"/>
        <meta-data
            android:name="com.fxtx.framework.image.MyGlideMoudle"
            android:value="GlideModule"/>

        <activity android:name=".ui.study.kinds.textbookdrama.TextBookDramaActivity">
        </activity>
        <activity
            android:name=".ui.study.kinds.textbookdrama.MakeTextBookDrmaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.study.kinds.textbookdrama.TextBookSuccessActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.study.kinds.karaoke.KaraOkeActivity">
        </activity>
        <activity android:name=".ui.study.kinds.karaoke.MakeKraoOkeActivity">
        </activity>


        <!--驰声测试用start-->
        <activity
            android:name=".ui.chivox.ChivoxMainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.chivox.SelectActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.chivox.WordSentPred"
            android:screenOrientation="portrait">
        </activity>
        <!--驰声测试用end-->

    </application>

</manifest>